@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 90%;
}

body{
    font-family: "Roboto Condensed", sans-serif;
}

.nav-main{
    position: sticky;
    top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 0.3fr 1fr 1.5fr 1.5fr 0.3fr;;
    background-color: #b0c4a1;
    z-index: 1000;
}

.logo{
    grid-column: 2/3;
    place-content: center;
}

.logo h2 {
    font-size: 2em; /* Adjust the size as needed */
    background: linear-gradient(to right, #19191a, #003091); /* Adjust gradient colors */
    /* letter-spacing: 2px; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-items li:hover{
    border-bottom: 2px solid #1c1b1b;
}

.nav-items-desktop{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 18px 10px;
}

.nav-items-desktop li{
    list-style: none;
    margin: 0px 5px;
}

.nav-items-desktop li a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: larger;
    /* font-weight: 500; */
    font-size: 1rem;
    color: #050A30;
}

.nav-items-mobile {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 5px 0px;
    background-color: #b0c4a1;
    transition: all 0.5s ease;
    transform: translateY(-20px); /* Start slightly above */
    position: fixed;
    width: 100%;
    top: 40px;
    transform: translateY(0);
    z-index: 2000;
}


.nav-items-mobile li{
    list-style: none;
    padding: 5px 5px;
}

.nav-items-mobile li a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #050A30;
}

.nav-right{
    text-align: end;
    margin: 12px 10px;
}

.nav-right form{
    display: inline-block;
}

.nav-right button{
    padding: 5px 5px;
    font-size: 500;
}
#search-form input{
    width: 10.7em;
    padding: 2px 8px;
    border: none;
    border-radius: 10px;
    height: 25px;
    outline:#7EC8E3;
}

#search-form .icon{
    position: absolute;
    right: 15px; /* Adjust to align the icon */
    top: 50%;
    transform: translateY(-50%);
    color: #344e41;
  }

.humberger-icon{
    display: none;
    margin-left: 5px;
}

.sign-up-login{
    display: inline;
}

@media (max-width:1050px) {
    .humberger-icon{
        display: inline;
        color: #050A30;
    }    

    .nav-right{
        width:max-content;
    }
    .nav-right .logout-button{
        display: none;
    }
    .nav-items-desktop{
        display: none;
    }

    .show-nav-items {
        max-height: 500px; /* Adjust to a value that fits your content */
        margin-top: 8px;
        opacity: 1;

    }
    
    
}
