.notesContainer {
    display: flex;
    flex-wrap: wrap;
}

.note-item {
    width: 80%; /* By default, each item takes the full width */
    box-sizing: border-box; /* Ensures padding and border are included in the width */
    margin-bottom: 20px; /* Adjust spacing between items */
}

  

.parent{
  display: flex;
  justify-content: space-between; /* Place items at the ends */
  align-items: center; /* Vertically center items */
}

.title h5{
    max-width: 20rem;
}

.desc{
    padding-bottom: 10px;
    padding-left: 10px;
}

  .icons-buttons{
    display: inline-block;
    width: auto;
  }


@media screen and (min-width: 1004px) { /* Adjust the breakpoint as per your desktop layout */
    .note-item {
        width: calc(50% - 20px); /* Three items per row with some margin */
        margin-right: 20px; /* Add some right margin to create space between items */
    }
    
    .note-item:nth-child(2n) {
        margin-right: 0; /* Remove margin from the last item in each row */
    }
}
