*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container .profession{
    margin-left: 10px;
}
.container .profile{
    margin-left: 60px;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px 0px;
}

.container .profile .button{
    border-radius: 7px;
}

.main{
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
}

.profession h4{
    text-transform: capitalize;
}
